.themen-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.thema {
  border: 1px solid #333;
  padding: 20px;
  width: 200px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.thema h2 {
  color: #2c3e50;
  font-size: 20px;
}

.thema ul {
  list-style-type: none;
  padding: 0;
}

.thema li {
  margin: 10px 0;
}
