<header class="site-header">
  <div class="header-left">
    <a href="{{ url_for('index') }}" class="site-title">
      Mein Deutsch Study Hall
    </a>
  </div>

  <div class="header-right">
    <div class="header-links">
      <a href="{{ url_for('index') }}" class="header-link">Home</a>
      <a href="{{ url_for('about') }}" class="header-link">About</a>
    </div>

    <div class="header-lang">
      <button class="lang-btn" data-lang="tr">TR</button>
      <button class="lang-btn" data-lang="en">EN</button>
    </div>
  </div>
</header>
